<form class="needs-validation" novalidate>
  <div class="t">
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputState">Nombre del Hospital</label>
      <select name="eps" [(ngModel)]="data.nombre" id="inputState" class="form-control" data-live-search="true" >

        <option *ngFor="let c of hospitales" [ngValue]="c">{{c.nombre}}</option>
        
      </select>
  </div>
</div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputState">Área</label>
      <select name="eps" [(ngModel)]="data.area" id="inputState" class="form-control">
        <option selected>Urgencia</option>
        <option>UCI</option>
        <option>Maternidad</option>
        <option>Cirugía</option>
      </select>
  </div>
    <div class="form-group col-md-2">
      <label for="formGroupExampleInput2">Identificación de la Cama</label>
      <input type="text" name="idcama" [(ngModel)]="data.idcama" class="form-control" id="formGroupExampleInput2" placeholder="">
    </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-2">
    <label for="formGroupExampleInput2">Ubicación de la Cama</label>
    <input type="text" name="ubicacion" [(ngModel)]="data.ubicacion" class="form-control" id="formGroupExampleInput2" placeholder="">
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-2">
    <label for="inputState">Estado</label>
    <select name="estado" [(ngModel)]="data.estado" id="inputState" class="form-control">
      <option selected>Libre</option>
      <option>Reservada</option>
      <option>Ocupada</option>
    </select>
</div>
</div>
<button class="btn btn-info" type="submit" (click)="registrar()">Registrar</button>
</div>
</form>
